<div class="container d-flex align-items-stretch">
  <nav id="sidebar" class="img">
    <div class="p-4">
      <!-- <h1><a href="#" class="logo"><span>Alianza</span></a></h1> -->
      <img  class="img logo" src="../assets/logoAlianza.png" alt="Alianza">

      <h2 class="color-nombre-tabla"><img  class="img imgen" src="../assets/usuario.png" alt="Alianza"><span>Clients</span></h2>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <!-- <a href="#" (click)="listar()">Clients</a> -->
          <button (click)="listar()" type="button" class="btn">
            Clients</button>
        </li>
        <li>
            <a href="#" class="nav-link"> Clients look history</a>
        </li>
        <li>
          <a href="#" class="nav-link"> Emergency PIN configuration</a>
        </li>
        <li>
          <a href="#" class="nav-link">Emergency PIN history</a>
        </li>
      </ul>
    </div>
  </nav>

    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <router-outlet></router-outlet>
  </div>
</div>

